.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #242424; }

.buttonsContainer {
  display: flex; }

.navButton {
  transition: all .3s ease;
  display: flex;
  align-items: center;
  color: #FFF;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 0 10px; }
  .navButton:hover {
    background-color: #1f52a3; }

.authButton {
  transition: all .3s ease;
  display: flex;
  align-items: center;
  color: #FFF;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 10px; }
  .authButton:hover {
    background-color: #1f52a3; }
