.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #242424;
}

.navButton {
    color: #FFF;
    font-size: 1.6rem;
    text-decoration: none;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.authButton {
    color: #FFF;
    margin-right: 10px;
    font-size: 1.6rem;
    text-decoration: none;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.iconBlock {
    background: #d9ac2a;
    height: 240px;
    top: 10px;
    left: 10px;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
}