@import "./config";
.nav {
    // cant width: 80%:
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #242424;
    .buttonsContainer {
        display: flex;
    }
    .navButton {
        transition: all .3s ease;
        display: flex;
        align-items: center;
        color: #FFF;
        font-size: 1.6rem;
        text-decoration: none;
        padding: 0 10px;
        &:hover {
            color: map-get($colors, primary);
        }
    }
    .authButton {
        transition: all .3s ease;
        display: flex;
        align-items: center;
        color: #FFF;
        font-size: 1.6rem;
        text-decoration: none;
        padding: 10px;
        &:hover {
            color: map-get($colors, primary);
        }
    }
}

.introContainer {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    position: relative;
    padding: 15px 0;
    .infoContainer {
        display: flex;
        flex-direction: column;
        &__title {
            font-size: 5rem;
        }
        &__divider {
            background-color: #a8a8a8;
            height: 1px;
            width: 95%;
        }
    }
    .infoContainerLinks {
        display: flex;
        flex-direction: column;
        &__preText {
            font-size: 2.5rem;
        }
    }
    .infoContainerLinksContainer {
        display: flex;
        &__link {
            transition: all .3s ease;
            color: #000;
            font-size: 2.5rem;
            &:not(:last-child) {
                margin-right: 2px;
            }
            &:hover {
                color: map-get($colors, primary);
            }
        }
    }
    .moreTextContainer {
        align-self: flex-start;
        align-items: center;
        display: flex;
        flex-direction: column;
        &__text {
            font-family: 'Playfair Display', serif;
            font-style: italic;
            text-decoration: none;
            color: #666;
            font-size: 1.7rem;
        }
        &__divider {
            background-color: #a8a8a8;
            height: 1px;
            width: 90%;
        }
        .button {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            background-image: linear-gradient( #f90, #ffc266);
            border-radius: 30px;
            padding: 10px 10px;
            &__text {
                color: white;
                text-decoration: none;
                font-size: 2.3rem;
                font-weight: 900;
            }
            &:hover {
                background-color: #000000;
                background-image: linear-gradient(#000000 0%, #434343 74%);
            }
        }
    }
}

.shuffleContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    background-color: map-get($colors, primary);
    padding: 20px;
    .postContainer {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFF;
        padding: 5px;
        &__image {
            width: 100%;
            height: 100px;
            object-fit: cover;
        }
        &__title {
            color: #355087;
            font-weight: 900;
            font-size: 1.6rem;
        }
        &__description {
            font-size: 1.4rem;
        }
    }
}