body {
    background: linear-gradient(#1488CC, #2B32B2);
    background-attachment: fixed;
}

.container {
    // איך הופכים את הרקע שיהיה רספונסיבי עם גודל הדף את זה לא הצלחתי לעשות 
    background: white;
    box-shadow: 2px 2px 8px black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 650px;
    margin: 10.5% auto;
    flex-direction: column;
}