$colors: (
    primary: #1f52a3,
    light-error: #c73e3e,
    strong-error: #852727,
    nav-background: #242424,
    post-background: #add8e6,
    post-border: #6fc8e6,
    post-title: #355087,
    footer-background: #242424,
    footer-text: #ffffff,
    postBlogPage-background: #add8e6,
    postBlogPage-border: #6fc8e6,
);

$sizes: (
    web-width: 1200px,
    minimal-padding: 10px,
);