@import "./config";

.introContainer {
    width: 100%;
    padding: 15px map-get($sizes, minimal-padding);
}

.introInner {
    display: flex;
    justify-content: space-between;
    max-width: map-get($sizes, web-width);
    margin: 0 auto;
    position: relative;
    
    .infoContainer {
        display: flex;
        flex-direction: column;
        
        &__title {
            font-size: 5rem;
        }
        
        &__divider {
            background-color: #a8a8a8;
            height: 1px;
            width: 95%;
        }
    }
    
    .infoContainerLinks {
        display: flex;
        flex-direction: column;
        
        &__preText {
            font-size: 2.5rem;
        }
    }

    .infoContainerLinksContainer {
        display: flex;

        &__link {
            transition: all .3s ease;
            color: #000;
            font-size: 2.5rem;

            &:not(:last-child) {
                margin-right: 2px;
            }

            &:hover {
                color: map-get($colors, primary);
            }
        }
    }

    .moreTextContainer {
        align-self: flex-start;
        align-items: center;
        display: flex;
        flex-direction: column;

        &__text {
            font-family: 'Playfair Display', serif;
            font-style: italic;
            text-decoration: none;
            color: #666;
            font-size: 1.7rem;
        }

        &__divider {
            background-color: #a8a8a8;
            height: 1px;
            width: 90%;
        }

        .button {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            background-image: linear-gradient( #f90, #ffc266);
            border-radius: 30px;
            padding: 10px 10px;

            &__text {
                color: white;
                text-decoration: none;
                font-size: 2.3rem;
                font-weight: 900;
            }

            &:hover {
                background-color: #000000;
                background-image: linear-gradient(#000000 0%, #434343 74%);
            }
        }
    }
}

.postsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: map-get($sizes, web-width);
    
    
    .postContainer {
        display: flex;
        flex-direction: column;
        background-color: map-get($colors, post-background);
        border: 2px solid map-get($colors, post-border);
        padding: 10px;

        &:not(:last-child) {
            margin-bottom: 5px;
        }

        &__title {
            color: map-get($colors, post-title);
            font-weight: 900;
            font-size: 2.2rem;
        }

        &__description {
            font-size: 1.4rem;
        }
    }
}