@import "./config";

.introContainer {
    width: 100%;
    padding: 15px map-get($sizes, minimal-padding);
}

.profileContainer {
    max-width: map-get($sizes, web-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 2px 2px 5px #5e5e5e;
    border-radius: 6px;
    padding: 10px 20px;

    &__header {
        text-decoration: underline;
        font-size: 2rem;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 1.6rem;
    }

    &__link {
        transition: all .3s ease;
        text-decoration: none;
        font-size: 1.8rem;
        margin: 10px 0;
        background-color: rgba(map-get($colors, primary), .7);
        border-radius: 6px;
        padding: 5px 8px;
        color: #FFF;

        &:hover {
            background-color: map-get($colors, primary);
        }
    }

}

.postsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: map-get($sizes, web-width);
    
    .postContainer {
        display: flex;
        flex-direction: column;
        background-color: map-get($colors, post-background);
        border: 2px solid map-get($colors, post-border);
        padding: 10px;

        &:not(:last-child) {
            margin-bottom: 5px;
        }

        &__title {
            color: map-get($colors, post-title);
            font-weight: 900;
            font-size: 2.2rem;
        }

        &__description {
            font-size: 1.4rem;
        }

        &__category {
            font-size: 1.3rem;
            text-decoration: none;
        }

        &__author {
            align-self: flex-end;
            font-size: 1.2rem;
        }
    }
}