@import "./config";

body {
    background-color: map-get($colors, postBlogPage-background);
}

.error {
    display: none;
    z-index: 2;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid map-get($colors, strong-error);
    background-color: map-get($colors, light-error);
    color: #fff;
    font-size: 1.6rem;
    padding: 5px 12px;
    text-align: center;
    white-space: nowrap;
}

.postBlogForm {
    padding: 0 map-get($sizes, minimal-padding);
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    &__header {
        font-size: 4.5rem;
        font-weight: 900;
        align-self: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &__input {
        width: 100%;
        padding: 10px;
        border: 2px solid map-get($colors, postBlogPage-border);
        margin-bottom: 30px;

        &:hover {
            border: 2px solid map-get($colors, postBlogPage-hover);
        }
    }

    &__textarea {
        padding: 10px;
        border: 2px solid map-get($colors, postBlogPage-border);
        resize: none;

        &:hover {
            border: 2px solid map-get($colors, postBlogPage-hover);
        }
    }

    &__category {
        font-size: 1.5rem;
        font-weight: 900;
        align-self: left;
        margin-top: 20px;
    }

    &__categorySelector {
        padding: 10px;
        border: 2px solid map-get($colors, postBlogPage-border);
        width: 20%;

        &:hover {
            border: 2px solid map-get($colors, postBlogPage-hover);
        }
    }

    &__submit {
        transition: all .3s ease;
        max-width: 100%;
        align-self: center;
        margin-top: 40px;
        color: white;
        background-color: black;
        border-radius: 30px;
        padding: 10px 30px;
        font-size: 2.5rem;

        &:hover {
            color: black;
            background-color: white;
        }
    }
}