.nav {
  width: 100%;
  z-index: 1;
  height: 50px;
  position: sticky;
  top: 0;
  padding: 0 10px;
  background-color: #242424; }

.navInner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto; }
  .navInner .navButton {
    transition: all .3s ease;
    color: #FFF;
    font-size: 1.6rem;
    text-decoration: none; }
    .navInner .navButton:not(:last-child) {
      margin-right: 15px; }
    .navInner .navButton:hover {
      color: #1f52a3; }
  .navInner .authButtonsContainer {
    display: flex; }
    .navInner .authButtonsContainer__button {
      transition: all .3s ease;
      color: #FFF;
      font-size: 1.6rem;
      text-decoration: none; }
      .navInner .authButtonsContainer__button:not(:last-child) {
        margin-right: 15px; }
      .navInner .authButtonsContainer__button:hover {
        color: #1f52a3; }
  .navInner .usernameText {
    display: none;
    color: #FFF;
    font-size: 1.6rem; }
  .navInner .logoutButton {
    display: flex;
    border: solid 1px red;
    color: #FFF;
    font-size: 1.6rem;
    text-decoration: none; }

.introContainer {
  padding: 15px 10px; }

.introInner {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  position: relative; }
  .introInner .infoContainer {
    display: flex;
    flex-direction: column; }
    .introInner .infoContainer__title {
      font-size: 5rem; }
    .introInner .infoContainer__divider {
      background-color: #a8a8a8;
      height: 1px;
      width: 95%; }
  .introInner .infoContainerLinks {
    display: flex;
    flex-direction: column; }
    .introInner .infoContainerLinks__preText {
      font-size: 2.5rem; }
  .introInner .infoContainerLinksContainer {
    display: flex; }
    .introInner .infoContainerLinksContainer__link {
      transition: all .3s ease;
      color: #000;
      font-size: 2.5rem; }
      .introInner .infoContainerLinksContainer__link:not(:last-child) {
        margin-right: 2px; }
      .introInner .infoContainerLinksContainer__link:hover {
        color: #1f52a3; }
  .introInner .moreTextContainer {
    align-self: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column; }
    .introInner .moreTextContainer__text {
      font-family: 'Playfair Display', serif;
      font-style: italic;
      text-decoration: none;
      color: #666;
      font-size: 1.7rem; }
    .introInner .moreTextContainer__divider {
      background-color: #a8a8a8;
      height: 1px;
      width: 90%; }
    .introInner .moreTextContainer .button {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      background-image: linear-gradient(#f90, #ffc266);
      border-radius: 30px;
      padding: 10px 10px; }
      .introInner .moreTextContainer .button__text {
        color: white;
        text-decoration: none;
        font-size: 2.3rem;
        font-weight: 900; }
      .introInner .moreTextContainer .button:hover {
        background-color: #000000;
        background-image: linear-gradient(#000000 0%, #434343 74%); }

.postsContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px; }
  .postsContainer .postContainer {
    display: flex;
    flex-direction: column;
    background-color: #add8e6;
    border: 2px solid #6fc8e6;
    padding: 10px; }
    .postsContainer .postContainer:not(:last-child) {
      margin-bottom: 5px; }
    .postsContainer .postContainer__title {
      color: #355087;
      font-weight: 900;
      font-size: 2.2rem; }
    .postsContainer .postContainer__description {
      font-size: 1.4rem; }

.footer {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .footer .footerInner {
    width: 100%;
    background-color: #242424;
    padding: 30px; }
    .footer .footerInner__header {
      color: #ffffff;
      font-size: 1.5rem;
      text-align: center; }
    .footer .footerInner__bottom {
      color: #ffffff;
      font-size: 1.5rem;
      text-align: center; }
