body {
  background-color: #add8e6; }

.postBlogForm {
  padding: 0 10px;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  .postBlogForm__header {
    font-size: 4.5rem;
    font-weight: 900;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px; }
  .postBlogForm__input {
    width: 100%;
    padding: 10px;
    border: 2px solid #6fc8e6;
    margin-bottom: 30px; }
    .postBlogForm__input:hover {
      border: 2px solid #419fbe; }
  .postBlogForm__textarea {
    padding: 10px;
    border: 2px solid #6fc8e6;
    resize: none; }
    .postBlogForm__textarea:hover {
      border: 2px solid #419fbe; }
  .postBlogForm__category {
    font-size: 1.5rem;
    font-weight: 900;
    align-self: left;
    margin-top: 20px; }
  .postBlogForm__categorySelector {
    padding: 10px;
    border: 2px solid #6fc8e6;
    width: 20%; }
    .postBlogForm__categorySelector:hover {
      border: 2px solid #419fbe; }
  .postBlogForm__submit {
    transition: all .3s ease;
    max-width: 100%;
    align-self: center;
    margin-top: 40px;
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 2.5rem; }
    .postBlogForm__submit:hover {
      color: black;
      background-color: white; }
