body {
  position: relative; }

.register-form {
  height: 100vh;
  background-image: url(../images/background.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px; }
  .register-form__box {
    min-width: 400px;
    min-height: 450px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    padding: 60px;
    display: flex;
    flex-direction: column; }
    .register-form__box .img img {
      width: 50px;
      display: block;
      margin: auto; }
    .register-form__box .heading h4 {
      color: #0089fe;
      font-size: 22px;
      text-align: left;
      margin: 15px 0px 20px;
      border-bottom: 1px solid;
      padding-bottom: 3px;
      display: inline-block; }
    .register-form__box .form-fields {
      display: flex;
      flex-direction: column;
      width: 100%; }
      .register-form__box .form-fields .filed-input {
        position: relative;
        margin-bottom: 20px;
        width: 100%; }
        .register-form__box .form-fields .filed-input .form-control {
          height: 40px;
          width: 100%;
          padding: 0px 0px 0px 45px;
          color: #444444;
          border: 1px solid black; }
          .register-form__box .form-fields .filed-input .form-control::placeholder {
            color: black; }
      .register-form__box .form-fields .filed-input span {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1; }
      .register-form__box .form-fields .filed-input img {
        width: 22px; }
    .register-form__box .register-button {
      width: 100%;
      display: flex;
      align-items: center; }
    .register-form__box .register-button button {
      color: white;
      font-size: 16px;
      padding: 8px 35px;
      background-color: #0089fe;
      transition: all .3s ease;
      border: none;
      cursor: pointer;
      margin-right: 10px; }
      .register-form__box .register-button button:hover {
        box-shadow: 0px 0px 10px #cccccc; }
    .register-form__box .register-button a {
      font-size: 16px;
      color: #0089fe;
      text-decoration: none; }
    .register-form__box .social-links {
      display: flex;
      flex-direction: column;
      width: 100%; }
      .register-form__box .social-links__register-text {
        text-align: center;
        color: gray;
        font-size: 14px;
        margin: 20px 0px 20px; }
      .register-form__box .social-links__links-box {
        display: flex;
        width: 100%;
        justify-content: space-between; }
        .register-form__box .social-links__links-box .facebook {
          background-color: #4567ab; }
        .register-form__box .social-links__links-box .google {
          background-color: #dd4234; }
        .register-form__box .social-links__links-box .twitter {
          background-color: #2fcdfe; }
      .register-form__box .social-links__links-box a {
        color: white;
        text-decoration: none;
        padding: 8px;
        width: calc(33.33% - 15px);
        font-size: 14px;
        text-align: center;
        transition: box-shadow .3s ease; }
        .register-form__box .social-links__links-box a:hover {
          box-shadow: 0px 0px 10px gray; }

@media (max-width: 500px) {
  .register-form__box {
    min-width: 100%;
    padding: 30px; }
  .register-form form {
    min-width: 100%; } }
